
#btnsa{
   background-color:  #ff5722;
   color: white;
   box-shadow: 0 0 5px #ff5722;
}

#btn__css{
    background-color:  #2282ff;
   color: white;
   box-shadow: 0 0 5px #2282ff;
}

#btn__boot{
    background-color:  #6533c2;
   color: white;
   box-shadow: 0 0 5px #6533c2;
}

.nav-link{
    font-weight: 530;
}
.dropdown-item{
    font-weight: 530;
}

#navlinka:hover{
    color: #6533c2;
    
}